<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PointsUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PointsUI.Properties.Settings.connnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\C5195092\Source\Repos\PointsUI\Raghu\PointsUI 26-May_Complete\Paint.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <PointsUI.Properties.Settings>
            <setting name="MyDB" serializeAs="String">
                <value>"C:\Users\C5195092\Source\Repos\PointsUI\Raghu\PointsUI\Paint.accdb"</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>-Select-</value>
            </setting>
            <setting name="isRememberUserChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smsUserName" serializeAs="String">
                <value>cpscolor</value>
            </setting>
            <setting name="smsPass" serializeAs="String">
                <value>9980053167</value>
            </setting>
            <setting name="smsSenderId" serializeAs="String">
                <value>AMBRKR</value>
            </setting>
        </PointsUI.Properties.Settings>
    </userSettings>
</configuration>
